/*
    Variables should be named using Github's Primer style guide:
    https://primer.style/foundations/primitives/token-names
    https://primer.style/primitives/storybook/?path=/story/color-base-display-scales--all-scales
*/
:root {
	--font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--green: #329932;
	--red: #993232;
	--toast-success: #36a331;
	--toast-error: #a42121;
	--toast-info: #2c68bb;
}

:root,
:root[data-theme='dark'] {
	--background-0: #202020;
	--background-1: #303030;
	--background-2: #404040;
	--background-3: #505050;
	--background-4: #606060;

	--foreground-0: #fafafa;
	--foreground-1: #dadada;
	--foreground-5: #8a8a8a;
}

:root[data-theme='light'] {
	/* TODO */
}
